* {
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: rgb(44, 44, 44);
}

.container{
    width: 870px;
    margin: 0 auto;
}
.container_header{
    padding: 30px 202px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_img{
    height: 89px ;
    width: 141px ;
}
.header_list{
    display: flex;
    list-style: none;
}

.list_item{
    margin-right: 30px;
    
}

.header_link{
    color: rgb(0, 225, 255);
    text-decoration: none;
}

.header_link:hover{
    color: blueviolet;
}

.hero_block{
    background-color: rgb(44, 44, 44)
}

.hero_block_img{
    margin-right:60px ;
    width: 400px;

}

.container_hero_block{
    display: flex;
    align-items: center;
    padding: 60px 200px;
}

.hero_block_button{
    margin-top: 100px;
    margin-left: 35;
}

.hero_block_h2{
    
position: static;
width: 224px;
height: 47px;
flex: none;
order: 2;
flex-grow: 0;
margin: 30px 0px;
}

.about{
    background-color: rgb(62, 62, 62);
    padding: 70px;
}

.about_title{
    color: rgb(228, 228, 228);
    text-align: center;
    font-size: 48px;
}

.about_container{
    display: flex;
    justify-content: space-between ;
}

.about_content{
    width: 356px;
}

.about_img{
    width: 454px;
}

.sup_title{
    width: 202px;
    color:rgb(228, 228, 228)
}

.progress_bar{
    background-color: rgb(0, 196, 240);
    height: 10px;
    margin-bottom: 30px;
}

.about_list{
    list-style: none;
    margin: 72px;
}

.progress_bar1{
    width: 80%;
    background-color:rgb(44, 44, 44);
    height:10px;

}

.progress_bar2{    
    width: 70%;
    background-color:rgb(44, 44, 44);
    height:100%
}

.progress_bar3{
    width: 90%;
    background-color:rgb(44, 44, 44);
    height:100%
}

.video{
    background-color: rgb(44, 44, 44);
    padding: 100px;
}

.video_title{
    text-align: center;
    color:rgb(228, 228, 228);
    font-size: 48px;
}

.video_content{
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(65, 65, 65);
    border-radius: 29px;
}

.video_prew{
    border-radius: 40px;
}

.map_title{
    text-align: center;
    font-size: 48px;
    color:rgb(228, 228, 228);
}

.map_content{
    margin: 0 auto;
    width: 600px;
    padding: 40px;
}

.map{
    background-color: rgb(62, 62, 62);
}

.galery{
    background: rgb(44, 44, 44);
}

.galery_title{
    color: rgb(228, 228, 228);
font-size: 48px;
font-weight: 400;
line-height: 48px;
text-align: center;
margin:0px;
padding: 70px 0px;
}

.galery_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
    list-style: none;
    padding: 20px;
}

.galery_list-item{
    width: 40%;
}

.galery_img{
    width: 100%; 
}

footer{
    background-color: rgb(44, 44, 44);
    padding: 50px 0px;
}

.footer_container{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.footer_title{
    color: rgb(228, 228, 228);
font-size: 30px;
font-weight: 400;
margin: 0 0 18px;   
margin-top: 0px;
}

.footer_text{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
}

.footer_list{
    display: flex;
    list-style: none;
    gap: 10px
}